{%- comment -%} Cart {%- endcomment -%}
<script type="lazyload2" fetchpriority="high" data-src="https://code.buywithprime.amazon.com/bwp.v1.js"></script>
<div
  id="amzn-bwp-cart"
  data-site-id="44kx2gx5je"
  data-widget-id="w-DnaQIysZKk60SuWByBWiw9"
></div>
{%- comment -%} End of Buy With Prime Cart {%- endcomment -%}
