.lp-rte {
  padding: 40px 0;
  color: #ffffff;
}
.lp-rte:before {
  content: "";
  display: block;
  --dims: 50vw;
  --max-dims: 600px;
  width: var(--dims);
  height: var(--dims);
  max-width: var(--max-dims);
  max-height: var(--max-dims);
  background: url(/cdn/shop/files/lotr_circle_txt.png?v=1727079902) center / cover no-repeat;
  position: absolute;
  bottom: -6vw;
  left: -25%;
  z-index: 0;
  pointer-events: none;
}
.lp-rte .heading {
  font-family: 'Ringbearer', sans-serif !important;
  text-transform: none;
  font-size: clamp(2.4rem, 5vw, 5rem);
  line-height: 1.2;
  margin-bottom: 18px;
}
.lp-rte .rte-body {
  font-family: Minion Pro, sans-serif;
  font-size: clamp(1.4rem, 2vw, 2.4rem);
  line-height: 1.6;
  transition-delay: 100ms;
}
.lp-rte:not(.anim):before,
.lp-rte:not(.anim) .heading,
.lp-rte:not(.anim) .rte-body {
  opacity: 0;
}
.lp-rte:before,
.lp-rte .heading,
.lp-rte .rte-body {
  transition: opacity 1.2s linear 500ms;
}

@media only screen and (min-width: 992px) {
  .lp-rte:before {
    --dims: 32vw;
    left: -10%;
  }
  .lp-rte {
    padding: 65px 0;
  }
  .lp-rte .heading {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .lp-rte .row > .col:last-of-type {
    padding: 0 60px;
  }
}