#store-locator {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  align-items: center;
}
.store-list-container {
  width: 100%;
  overflow-y: auto;
}
.store-list-container input#storeSearch {
  max-width: 100%;
  margin: 0 auto 1.5rem;
  font-size: 14px;
  line-height: 1;
  padding: 12px;
}
.store-list-container #store-list li {
  padding-bottom: 10px;
  border-bottom: 1px solid #ededed;
  cursor: pointer;
}
.store-list-container #store-list li:not(:last-of-type) {
  margin-bottom: 1rem;
}
.store-list-container #store-list li h4 {
  font-size: 15px;
  line-height: 1.2;
  font-family: var(--font-body-family) !important;
  margin-bottom: 10px;
  font-weight: 600;
}
.store-list-container #store-list li p {
  font-size: 14px;
  line-height: 1.5;
}
.mapboxgl-popup {
  max-width: 350px !important;
}
.mapboxgl-popup-content {
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.25);
  border: 0;
  border-radius: 0;
}
.mapboxgl-popup-tip {
  border-top-color: white;
}
.mapboxgl-popup-close-button {
  font-size: 2.2rem;
  line-height: 1;
  padding: 5px 10px;
}
.mapboxgl-ctrl-bottom-left {
  display: none;
}